<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!-- 用户参数-->
    <add key="BaudRate" value="9600"/>
    <add key="actionTest1Current_model1" value="100"/>
    <add key="actionTest1Time_model1" value="60"/>
    <add key="actionTest2StartCurrent_model1" value="70"/>
    <add key="actionTest2Time_model1" value="0"/>
    <add key="actionTest2EndCurrent_model1" value="100"/>
    <add key="actionTest3Current_model1" value="100"/>
    <add key="actionTest3Time_model1" value="500"/>
    <add key="overVoltageValue_model1" value="280"/>
    <add key="overVoltageTime_model1" value="2"/>
    <add key="underVoltageValue_model1" value="140"/>
    <add key="underVoltageTime_model1" value="2"/>
    <add key="lowVoltageValue_model1" value="180"/>
    <add key="closeSwitchTimeUp_model1" value="5"/>
    <add key="voltageErrorRange_model1" value="10"/>
    <add key="actionTest1Current_model2" value="100"/>
    <add key="actionTest1Time_model2" value="60"/>
    <add key="actionTest2StartCurrent_model2" value="70"/>
    <add key="actionTest2Time_model2" value="0"/>
    <add key="actionTest2EndCurrent_model2" value="100"/>
    <add key="actionTest3Current_model2" value="100"/>
    <add key="actionTest3Time_model2" value="500"/>
    <add key="overVoltageValue_model2" value="280"/>
    <add key="overVoltageTime_model2" value="2"/>
    <add key="underVoltageValue_model2" value="140"/>
    <add key="underVoltageTime_model2" value="2"/>
    <add key="lowVoltageValue_model2" value="180"/>
    <add key="closeSwitchTimeUp_model2" value="5"/>
    <add key="voltageErrorRange_model2" value="10"/>
    <!--功能选择-->
    <add key="doAction1" value="1"/>
    <add key="doAction2" value="1"/>
    <add key="doAction3" value="1"/>
    <add key="doOverVoltage" value="1"/>
    <add key="doUnderVoltage" value="1"/>
    <add key="doLowVoltage" value="1"/>
    <add key="doLosePhase" value="1"/>
    <add key="doZeroPhase" value="1"/>
    <add key="Model1" value="1"/>
    <add key="Model2" value="0"/>
    <add key="ManualCom" value="0"/>
    <add key="AutoCom" value="1"/>
    <add key="Scan" value="0"/>
    <add key="ManualJudge" value="1"/>
    <add key="MeachineAge" value="0"/>
    <add key="MeachineNum" value="2"/>
    <add key="UseStation1" value="1"/>
    <add key="UseStation2" value="1"/>
    <add key="UseStation3" value="1"/>
    <add key="UseStation4" value="1"/>
    <add key="UseStation5" value="1"/>
    <add key="UseStation6" value="1"/>
    <add key="CloseDoor" value="1"/>
    <add key="AutoLine" value="1"/>
    <add key="ManualLine" value="0"/>
    <add key="FinallyJudge" value="0"/>
    <!--报警信息-->
    <add key="alarm0" value="挡料气缸伸出不到位报警" />
    <add key="alarm1" value="挡料气缸缩回不到位报警" />
    <add key="alarm2" value="隔料气缸伸出不到位报警" />
    <add key="alarm3" value="隔料气缸缩回不到位报警" />
    <add key="alarm4" value="上料归正气缸伸出不到位报警" />
    <add key="alarm5" value="上料归正气缸缩回不到位报警" />
    <add key="alarm6" value="条码枪平移气缸伸出不到位报警" />
    <add key="alarm7" value="条码枪平移气缸缩回不到位报警" />
    <add key="alarm8" value="工位1产品定位气缸伸出不到位报警" />
    <add key="alarm9" value="工位1产品定位气缸缩回不到位报警" />
    <add key="alarm10" value="工位1通讯测试气缸伸出不到位报警" />
    <add key="alarm11" value="工位1通讯测试气缸缩回不到位报警" />
    <add key="alarm12" value="工位1电极加电气缸伸出不到位报警" />
    <add key="alarm13" value="工位1电极加电气缸缩回不到位报警" />
    <add key="alarm14" value="工位1电极升降气缸伸出不到位报警" />
    <add key="alarm15" value="工位1电极升降气缸缩回不到位报警" />
    <add key="alarm16" value="工位2产品定位气缸伸出不到位报警" />
    <add key="alarm17" value="工位2产品定位气缸缩回不到位报警" />
    <add key="alarm18" value="工位2通讯测试气缸伸出不到位报警" />
    <add key="alarm19" value="工位2通讯测试气缸缩回不到位报警" />
    <add key="alarm20" value="工位2电极加电气缸伸出不到位报警" />
    <add key="alarm21" value="工位2电极加电气缸缩回不到位报警" />
    <add key="alarm22" value="工位2电极升降气缸伸出不到位报警" />
    <add key="alarm23" value="工位2电极升降气缸缩回不到位报警" />
    <add key="alarm24" value="工位3产品定位气缸伸出不到位报警" />
    <add key="alarm25" value="工位3产品定位气缸缩回不到位报警" />
    <add key="alarm26" value="工位3通讯测试气缸伸出不到位报警" />
    <add key="alarm27" value="工位3通讯测试气缸缩回不到位报警" />
    <add key="alarm28" value="工位3电极加电气缸伸出不到位报警" />
    <add key="alarm29" value="工位3电极加电气缸缩回不到位报警" />
    <add key="alarm30" value="工位3电极升降气缸伸出不到位报警" />
    <add key="alarm31" value="工位3电极升降气缸缩回不到位报警" />
    <add key="alarm32" value="工位4产品定位气缸伸出不到位报警" />
    <add key="alarm33" value="工位4产品定位气缸缩回不到位报警" />
    <add key="alarm34" value="工位4通讯测试气缸伸出不到位报警" />
    <add key="alarm35" value="工位4通讯测试气缸缩回不到位报警" />
    <add key="alarm36" value="工位4电极加电气缸伸出不到位报警" />
    <add key="alarm37" value="工位4电极加电气缸缩回不到位报警" />
    <add key="alarm38" value="工位4电极升降气缸伸出不到位报警" />
    <add key="alarm39" value="工位4电极升降气缸缩回不到位报警" />
    <add key="alarm40" value="工位5产品定位气缸伸出不到位报警" />
    <add key="alarm41" value="工位5产品定位气缸缩回不到位报警" />
    <add key="alarm42" value="工位5通讯测试气缸伸出不到位报警" />
    <add key="alarm43" value="工位5通讯测试气缸缩回不到位报警" />
    <add key="alarm44" value="工位5电极加电气缸伸出不到位报警" />
    <add key="alarm45" value="工位5电极加电气缸缩回不到位报警" />
    <add key="alarm46" value="工位5电极升降气缸伸出不到位报警" />
    <add key="alarm47" value="工位5电极升降气缸缩回不到位报警" />
    <add key="alarm48" value="工位6产品定位气缸伸出不到位报警" />
    <add key="alarm49" value="工位6产品定位气缸缩回不到位报警" />
    <add key="alarm50" value="工位6通讯测试气缸伸出不到位报警" />
    <add key="alarm51" value="工位6通讯测试气缸缩回不到位报警" />
    <add key="alarm52" value="工位6电极加电气缸伸出不到位报警" />
    <add key="alarm53" value="工位6电极加电气缸缩回不到位报警" />
    <add key="alarm54" value="工位6电极升降气缸伸出不到位报警" />
    <add key="alarm55" value="工位6电极升降气缸缩回不到位报警" />
    <add key="alarm56" value="机械手升降气缸下降不到位" />
    <add key="alarm57" value="机械手升降气缸上升不到位" />
    <add key="alarm58" value="机械手夹爪气缸夹紧不到位" />
    <add key="alarm59" value="机械手夹爪气缸松开不到位" />
    <add key="alarm60" value="不合格品挡停气缸伸出不到位报警" />
    <add key="alarm61" value="不合格品挡停气缸缩回不到位报警" />
    <add key="alarm62" value="条码读取失败" />
    <add key="alarm63" value="安全门被打开" />
    <add key="alarm64" value="急停被按下" />
    <add key="alarm65" value="测试工位1电压调节失败" />
    <add key="alarm66" value="测试工位2电压调节失败" />
    <add key="alarm67" value="测试工位3电压调节失败" />
    <add key="alarm68" value="测试工位1漏电电流无输出" />
    <add key="alarm69" value="测试工位2漏电电流无输出" />
    <add key="alarm70" value="测试工位3漏电电流无输出" />
    <add key="alarm71" value="下料挡停处有料"/>
    <add key="alarm72" value="设备未就绪，请查看就绪页面"/>
    <!--状态信息-->
    <add key="state0" value="处于待机状态"/>
    <add key="state1" value="整机测试开始"/>
    <add key="state2" value="通信测试"/>
    <add key="state3" value="恢复出厂设置"/>
    <add key="state4" value="判断分合闸状态"/>
    <add key="state5" value="判断分合闸状态"/>
    <add key="state6" value="低压合闸测试开始"/>
    <add key="state7" value="通讯合闸"/>
    <add key="state8" value="判断分合闸状态"/>
    <add key="state9" value="等待确认低压合闸测试合格"/>
    <add key="state10" value="低压合闸完成"/>
    <add key="state11" value="极限不驱动测试开始"/>
    <add key="state12" value="等待确认极限不驱动测试合格"/>
    <add key="state13" value="极限不驱动测试完成"/>
    <add key="state14" value="动作值测试开始"/>
    <add key="state15" value="等待确认动作值测试合格"/>
    <add key="state16" value="通讯合闸"/>
    <add key="state17" value="判断分合闸状态"/>
    <add key="state18" value="动作值测试完成"/>
    <add key="state19" value="动作时间测试开始"/>
    <add key="state20" value="等待确认动作时间测试合格"/>
    <add key="state21" value="通讯合闸"/>
    <add key="state22" value="判断分合闸状态"/>
    <add key="state23" value="动作时间测试完成"/>
    <add key="state24" value="过压测试开始"/>
    <add key="state25" value="等待确认过压测试合格"/>
    <add key="state26" value="通讯合闸"/>
    <add key="state27" value="判断分合闸状态"/>
    <add key="state28" value="过压测试完成"/>
    <add key="state29" value="欠压测试开始"/>
    <add key="state30" value="等待确认欠压测试合格"/>
    <add key="state31" value="通讯合闸"/>
    <add key="state32" value="判断分合闸状态"/>
    <add key="state33" value="欠压测试完成"/>
    <add key="state34" value="缺相测试开始"/>
    <add key="state35" value="等待确认缺相测试合格"/>
    <add key="state36" value="通讯合闸"/>
    <add key="state37" value="判断分合闸状态"/>
    <add key="state38" value="缺相测试完成"/>
    <add key="state39" value="缺零相测试开始"/>
    <add key="state40" value="等待确认缺零相测试合格"/>
    <add key="state41" value="通讯合闸"/>
    <add key="state42" value="判断分合闸状态"/>
    <add key="state43" value="清除测试记录"/>
    <add key="state44" value="整机测试完成"/>
    <add key="state45" value="最终人工判断"/>
    <add key="state46" value="保留"/>
    <add key="state47" value="保留"/>
    <add key="state48" value="保留"/>
    <add key="state49" value="保留"/>
    <add key="state50" value="通讯分闸(机械磨合)"/>
    <add key="state51" value="判断分合闸状态"/>
    <add key="state52" value="通讯合闸(机械磨合)"/>
    <add key="state53" value="判断分合闸状态"/>
    <add key="state54" value="判断机械磨合是否继续"/>
  </appSettings>
</configuration>
