<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--用户参数-->
    <add key="BaudRate" value="9600"/>
    <add key="current_model1" value="4000" />
    <add key="currentTime_model1" value="200" />
    <add key="lowCurrent_model1" value="3600" />
    <add key="lowTime_model1" value="200" />
    <add key="highCurrent_model1" value="4800" />
    <add key="highTime_model1" value="200" />
    <add key="errorRange_model1" value="20" />
    <add key="current_model2" value="4000" />
    <add key="currentTime_model2" value="200" />
    <add key="lowCurrent_model2" value="3600" />
    <add key="lowTime_model2" value="200" />
    <add key="highCurrent_model2" value="4800" />
    <add key="highTime_model2" value="200" />
    <add key="errorRange_model2" value="20" />
    <add key="meachineNum" value="2"/>
    <!--功能选择-->
    <add key="doOutput1" value="1"/>
    <add key="doOutput2" value="1"/>
    <add key="doOutput3" value="1"/>
    <add key="doLow" value="1"/>
    <add key ="doHigh" value="1"/>
    <add key="Model1" value="1" />
    <add key="Model2" value="0" />
    <add key="ManualCom" value="0" />
    <add key="AutoCom" value="1" />
    <add key="Scan" value="1" />
    <add key="ManualJudge" value="1" />
    <add key="MeachineAge" value="1" />
    <add key="SetMeachineAge" value="1" />
    <add key ="CloseDoor" value="1"/>
    <add key="AutoLine" value="1"/>
    <add key="ManualLine" value="0"/>
    <add key="Defence" value="0"/>
    
    <!--报警信息-->
    <add key="alarm0" value="隔料气缸伸出不到位报警"/>
    <add key="alarm1" value="隔料气缸缩回不到位报警"/>
    <add key="alarm2" value="挡料气缸伸出不到位报警"/>
    <add key="alarm3" value="挡料气缸缩回不到位报警"/>
    <add key="alarm4" value="扫码枪平移气缸伸出不到位报警"/>
    <add key="alarm5" value="扫码枪平移气缸缩回不到位报警"/>
    <add key="alarm6" value="工位1加电前进气缸伸出不到位报警"/>
    <add key="alarm7" value="工位1加电前进气缸缩回不到位报警"/>
    <add key="alarm8" value="工位1举升气缸伸出不到位报警"/>
    <add key="alarm9" value="工位1举升气缸缩回不到位报警"/>
    <add key="alarm10" value="工位1通讯平移气缸伸出不到位报警"/>
    <add key="alarm11" value="工位1通讯平移气缸缩回不到位报警"/>
    <add key="alarm12" value="工位1挡停气缸伸出不到位报警"/>
    <add key="alarm13" value="工位1挡停气缸缩回不到位报警"/>
    <add key="alarm14" value="工位2加电前进气缸伸出不到位报警"/>
    <add key="alarm15" value="工位2加电前进气缸缩回不到位报警"/>
    <add key="alarm16" value="工位2举升气缸伸出不到位报警"/>
    <add key="alarm17" value="工位2举升气缸缩回不到位报警"/>
    <add key="alarm18" value="工位2通讯平移气缸伸出不到位报警"/>
    <add key="alarm19" value="工位2通讯平移气缸缩回不到位报警"/>
    <add key="alarm20" value="工位2挡停气缸伸出不到位报警"/>
    <add key="alarm21" value="工位2挡停气缸缩回不到位报警"/>
    <add key="alarm22" value="不合格品挡停气缸伸出"/>
    <add key="alarm23" value="不合格品挡停气缸缩回"/>
    <add key="alarm24" value="条码读取失败"/>
    <add key="alarm25" value="安全门被打开"/>
    <add key="alarm26" value="急停被按下"/>
    <add key="alarm27" value="数据未存储"/>
    <add key="alarm28" value="设备未就绪，请查看就绪页面"/>

    <!--状态信息-->
    <add key="state0" value="处于待机状态"/>
    <add key="state1" value="瞬时测试开始"/>
    <add key="state2" value="通信测试"/>
    <add key="state3" value="判断分合闸状态"/>
    <add key="state4" value="进入瞬时校对模式"/>
    <add key="state5" value="B相输出十倍电流"/>
    <add key="state6" value="获取产品峰值"/>
    <add key="state7" value="判断分合闸状态"/>
    <add key="state8" value="C相输出十倍电流"/>
    <add key="state9" value="获取产品峰值"/>
    <add key="state10" value="判断分合闸状态"/>
    <add key="state11" value="A相输出十倍电流"/>
    <add key="state12" value="获取产品峰值"/>
    <add key="state13" value="判断分合闸状态"/>
    <add key="state14" value="低倍输出"/>
    <add key="state15" value="获取分合闸状态"/>
    <add key="state16" value="高倍输出"/>
    <add key="state17" value="获取分合闸状态"/>
    <add key="state18" value="退出校对模式"/>
    <add key="state19" value="判断分合闸状态"/>
    <add key="state20" value="产品合闸"/>
    <add key="state21" value="判断分合闸状态"/>
    <add key="state22" value="判断分合闸状态"/>
    <add key="state23" value="瞬时检测结束"/>
    <add key="state24" value="处于待机状态"/>
    <add key="state25" value="瞬时测试开始"/>
    <add key="state26" value="通信测试"/>
    <add key="state27" value="判断分合闸状态"/>
    <add key="state28" value="进入瞬时校对模式"/>
    <add key="state29" value="B相输出十倍电流"/>
    <add key="state30" value="切换电源"/>
    <add key="state31" value="重新进入瞬时校对模式"/>
    <add key="state32" value="保留"/>
    <add key="state33" value="保留"/>
    <add key="state34" value="保留"/>
    <add key="state35" value="保留"/>
    <add key="state36" value="保留"/>
    <add key="state37" value="保留"/>
    <add key="state38" value="保留"/>
    <add key="state39" value="保留"/>
    <add key="state40" value="判断是否进行机械磨合"/>
    <add key="state41" value="通讯分闸(机械磨合)"/>
    <add key="state42" value="判断分合闸状态"/>
    <add key="state43" value="通讯合闸(机械磨合)"/>
    <add key="state44" value="判断分合闸状态"/>
    <add key="state45" value="判断机械磨合是否继续"/>
    <add key="state46" value="B相瞬时校对人工确认"/>
    <add key="state47" value="C相瞬时校对人工确认"/>
    <add key="state48" value="A相瞬时校对人工确认"/>
    <add key="state49" value="低倍瞬时测试人工确认"/>
    <add key="state50" value="高倍瞬时测试人工确认"/>
    <add key="state51" value="最终确认分合闸状态"/>
    <add key="state52" value="通讯分闸"/>
    <add key="state53" value="判断分合闸状态"/>
  </appSettings>
</configuration>
